<!doctype html>
<html lang="en">
  <head>
    <title>Space Fortress helper</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
        
        <div class="container">
            <header class="header clearfix">

            <h3 class="text-muted">Space Fortress</h3>
            </header>
    
            <main role="main">
    
            <div class="jumbotron" style="background-color:#f3faff">
                {% if 'participant' in experience %}
                    <h1 class="display-3">Participant {{experience['participant']}}, Partie {{experience['num_game']}}</h1>
                    {%if experience['num_game'] >= 24%}
                    <div class="alert alert-success" role="alert">
                    <h2 class="alert-heading">Expérience terminée!</h2>
                    </div>
                    {%endif%}
                    <h2>Étape : {{experience['phase']}}</h2>
                    <h2>Essai : {{experience['essai']}}</h2>
                    <h2>Score : {{experience['score']}}</h2> Dernier Score : {{experience['last_score']}}
                    <h2>Amélioration : {{experience['score']-experience['last_score']}}</h2>
                    <h2>Surcharge :</h2>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: {{experience['surcharge']/5*100}}%">{{experience['surcharge']}}/5</div>
                    </div>
                    {%if experience['valid_prediction']%}
                    <h2>Surcharge passée:</h2>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"  style="width: {{experience['last_surcharge']/5*100}}%">{{experience['last_surcharge']}}/5</div>
                    </div>
                        {%if experience['passer_prochaine_phase']%}
                        <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Le participant doit passer à la prochaine étape</h4>
                        <p>La surcharge a baissée et le participant s'est amélioré. Il devrait donc changer d'étape</p>
                        </div>
                        {%else%}
                        <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Le participant ne doit pas passer à la prochaine étape</h4>
                        <p>Le participant n'a pas rempli les conditions pour passer à la prochain étape</p>
                        </div>
                        {%endif%}
                    {%else%}
                    <h2>Surcharge passée inexistante</h2>
                    {%endif%}
                    
                {% endif %}
                
                <p class="lead"></p>
                    
                <p><a class="btn btn-lg btn-success" href="/read_last" role="button">Lire dernier questionnaire</a></p>
                
            </div>

            {% from "_formhelpers.html" import render_field %}
            <form method=post>
              <dl>
                {{ render_field(form.spacepath) }} 
                {{ render_field(form.googlepath) }} 
                <input class="btn btn-sm btn-warning" type=submit value=Appliquer>
                
              </dl>
            </form>
    
    
            </main>
    
            <footer class="footer">
            <p>© AFC 2017</p>
            </footer>
    
        </div> <!-- /container -->
          
        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>